{% extends './base.html' %}

<title> ZUGUS IOT · Acceuil</title>





{% block content %}
<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="col-lg-4">
    <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
    <h2 class="fw-normal">Collecter vos données</h2>
    <p>Nous utilisons des capteurs avancés et des algorithmes intelligents pour collecter et analyser vos données en temps réel. Cette approche nous permet de vous fournir 
      des insights précieux, d'améliorer l'efficacité opérationnelle et de maximiser la valeur de vos actifs.</p>
    <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
    <h2 class="fw-normal">Controler vos Actuateurs</h2>
    <p>Notre plateforme vous offre un contrôle total sur vos actionneurs, vous permettant de gérer des dispositifs tels que des moteurs, des vannes et des relais en toute simplicité.
       Grâce à une interface utilisateur intuitive, vous pouvez programmer des actions automatisées ou intervenir manuellement en temps réel pour optimiser vos opérations.</p>
    <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
    <h2 class="fw-normal">Visualiser vos données</h2>
    <p>Notre solution d'analyse de données utilise des techniques d'apprentissage automatique et d'intelligence artificielle pour transformer vos données brutes en informations 
      exploitables. Vous pouvez suivre des indicateurs clés de performance, identifier des tendances et même prévoir des scénarios futurs pour prendre des décisions éclairées.</p>
    <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->


<!-- START THE FEATURETTES -->

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading fw-normal lh-1">Ayez le contrôle de vos données.</h2>
    <p class="lead">Dans un monde de plus en plus numérique, la maîtrise de vos données est essentielle. Notre plateforme vous offre des outils robustes pour gérer, sécuriser 
      et contrôler l'accès à vos données. Vous pouvez personnaliser les paramètres de confidentialité, exporter vos données à tout moment et même configurer des alertes pour des 
      activités suspectes. Prenez le contrôle total de vos informations et utilisez-les à votre avantage.</p>
  </div>
  <div class="col-md-5 order-md-1">
    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading fw-normal lh-1">Poussez plus loin avec le Deep Learning.</h2>
    <p class="lead">Le Deep Learning ouvre des horizons inexplorés en matière d'analyse de données et d'intelligence artificielle. Notre plateforme utilise des réseaux de neurones
       profonds pour vous offrir des analyses plus précises et des prédictions plus fiables. Que vous soyez dans le domaine de la santé, de la finance ou de l'industrie, 
       nos solutions de Deep Learning peuvent transformer votre manière de prendre des décisions et d'innover. Découvrez comment le Deep Learning peut révolutionner votre activité.</p>
  </div>
  <div class="col-md-5">
    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
  </div>
</div>

<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->

</div><!-- /.container -->

{% endblock %}