{% extends './base.html' %}

{% block title %}
    {% if title %} {{ title }} {% else %} ZUGUS IOT · CREER UN COMPTE {% endif %}
{% endblock %}

{% block content %}
<div class="container marketing">
    <div class="row mt-5 mb-5">
        <div class="col-lg-6 shadow p-4">
            <h3>Veuillez créer un compte : </h3>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Soumettre</button>
            </form>
        </div>
        
        <div class="col-lg-6 shadow p-4">
            <img src="../../static/images/cart1.jpg" width="100%" height="100%"/>
        </div>
    </div><!-- /.row -->
</div>
{% endblock %}
