{% extends './base.html' %}

<title>{% if title %} {{title}} {% else %} ZUGUS IOT · SERVICES{% endif %}</title>

{% block content %}
<div class="container marketing">
    
        <div class="row mt-5 mb-5">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Nos Services de IoT.</h2>
                <p class="lead">Nous offrons une gamme complète de services pour vos besoins en IoT, de la collecte de données à l'analyse en passant par l'automatisation et 
                    le contrôle des dispositifs.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
            </div>
        </div>
    
</div>

{% endblock %}