{% extends './base.html' %}

<title> ZUGUS IOT · Acceuil</title>

{% block content %}
<h2>Liste des Dispositifs</h2>




<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for dispositif in dispositifs %}
    <div class="col">
      <div class="card shadow-sm">
        <img src="{{ dispositif.image.url }}"  width="100%" height="225" alt="{{ dispositif.nom }}">
        <div class="card-body">
         <h2>{{ dispositif.nom }}</h2>
         <p class="card-text">{{ dispositif.description }}</p>
         <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">{{ dispositif.type }}</button>
            <a href="{% url 'ajouter_dispositif' dispositif.id_dispositif %}" class="btn btn-outline-primary btn-sm">Choisir</a>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

  </div>
</div>
</div>

{% endblock %}
