{% extends './base.html' %}


{% block content %}
<div class="container">
    <h2>{{ user_dispositif.dispositif.nom }}</h2>
    <p>Localisation: {{ user_dispositif.dispositif.localisation }}</p>
    <p>Code: {{ user_dispositif.code }}</p>
    <p>Type: {{ user_dispositif.dispositif.type }}</p>
    <p>Description: {{ user_dispositif.dispositif.description }}</p>

    <h3>20 Derniers Enregistrements</h3>
    <table id="tablevisualisation" class="table table-striped" style="width:100%">
        <thead>
          <tr>
            <th scope="col">Date/Heure</th>
            <th scope="col">Valeur</th>
        </tr>
        </thead>
        </tbody>
        {% for donnee in donnees %}
        <tr>
            <td>{{ donnee.date_heure }}</td>
            <td>{{ donnee.valeur }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}
